---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ModulesSection from "../components/ModulesSection.astro";
import StartCTA from "../components/StartCTA.astro";
---

<Layout title="Aprenda Frontend">
  <main>
    <Hero />
    <ModulesSection />
    <StartCTA />
  </main>
</Layout>
